* {
    margin: 0;
    padding: 0;
}



.top-container {


    width: 200px;
    height: 200px;
    background-color: gainsboro;
    
   
    position: absolute;
    display: inline-block;
    left: 0;
   

    

    transition: 0.5s ease;


}

.top-container:hover {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    background-color: crimson;


}

.middle-container {
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    display: inline-block;
    position: absolute;
    left: 200px;
    top: 200px;
    transition: 1s ease-in-out;
}

.middle-container:hover {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: crimson;
}

.bottom-container {

    width: 200px;
    height: 200px;
    background-color: beige;
    display: inline-block;
    position: absolute;
    left: 400px;
    top: 400px;
    transition: 0.3s ease;
}

.bottom-container:hover {

    background-color: crimson;
    box-shadow: 5px 5px 10px 1px grey;
}

.Box {


    position: absolute;
    box-shadow: 5px 5px 10px 1px grey;
    background-color: chartreuse;

    width: 100%;
    height: 30%;
    transition: 0.5s ease;

    color: transparent;
}

.Box:hover {


    width: 100%;
    height: 80%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    color: black;

}


a:-moz-drag-over {
    color: crimson;
}

a:active {
    color: greenyellow;
}

a:visited {
    color: pink;
}
.textlinks
{
    position: relative;
    z-index: 5;
    top: 500px;
}