*
{
    margin: 0;
    padding: 0;
}
.container{
    
  
}


.top-container{
    padding: 20px;
    width: 200px;
    height: 200px;
    background-color: aqua;
}
.middle-container{
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
}
.bottom-container{
    width: 200px;
    height: 200px;
    background-color: beige;
}