*
{
    margin: 0;
    padding: 0;
}



.top-container{
    
    
    width: 200px;
    height: 200px;
    background-color: gainsboro;
    display: inline-block;
    position: relative;
    left: 408px;
    
    border: 2px dotted grey;
    border-spacing: 10%;
    border-radius: 10%;
    
    box-sizing: border-box;
    
    transition: 0.5s ease;
    

}
.top-container:hover
{
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    background-color: crimson;
    
 
}

.middle-container{
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    display: inline-block;
    position: relative;
    right: 208px;
    transition: 1s ease-in-out;
}
.middle-container:hover{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: crimson;
}
.bottom-container{
    
    width: 200px;
    height: 200px;
    background-color: beige;
    display: inline-block;
    position: relative;
    right: 208px;
    transition:1s ease;
}
.bottom-container:hover
{
    
    background-color: crimson;
}
.Box
{
    
  
    position: absolute;
    
    background-color: chartreuse;
    width: 50%;
    height: 50%;
    transition: 0.5s ease;
}
.Box:hover{
    
    
    width: 20%;
    height: 20%;
}